Q1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6
solution:-
element	 value/expression
*	      expression
'hello'    value
-87.8	   value
-	    expression
/	    expression
+	    expression
6	    value

Q2. What is the difference between string and variable?

Ans:- String:
A string is a collection of characters enclosed within single ' or " quotation marks.
String is of Sequence data type.

Variable:
A variable is a name to which any value can be assigned.
A variable can be of type integer or string or boolean etc.

In [1]:
# initializing a string

my_name = "shadab"
print(type(my_name))

<class 'str'>

In [2]:
# initializing a string type variable
my_name = "Shadab"

# initializing a integer type variable
my_age = 22

print(type(my_name), type(my_age))

<class 'str'> <class 'int'>

Q3. Describe three different data types.

Ans:-
1. Numeric Data types:-
It represents the data that has a numeric value.
The main numeric data types are,
a. Integers
b. Floating-point
c. Complex Numbers
2. Boolean Data type
Boolean data type have two values either True or False.
Used to determine whether logic of a comparison is correct.
3. Sequence Data type
Sequence data type are collection of similar or different data types values.
a)List
It is a collection which is ordered and changeable. Allows duplicate members.

b)Tuple
It is a collection which is ordered and unchangeable. Allows duplicate members.

In [3]:
# Numeric Data types examples

print(55)       # integer type
print(-12.231)  # floating point number
print(complex(2, 2))    # represents (2+2j), complex number

55
-12.231
(2+2j)

In [4]:
# Boolean Data types example

print(10>9)     # results `True`
print(99<11)    # results `False`

True
False

In [11]:
# Sequence Data types example

thislist = ["apple", "banana", "cherry"]  #List Data Type
print(thislist)


thistuple = ("apple", "banana", "cherry") #Tuple Data Type
print(thistuple)

['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')

Q4. What is an expression made up of? What do all expressions do?

Ans:-
     Expression is a combination of values, variables, operators or function calls. Expression is something that needs to be evaluated by the interpreter that produces a value.

Q5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

Ans:- 
a)An expression evaluates to a single value. A statement does not.

b)Statements represent an action or command e.g print statements, assignment statements.
print 'hello', x = 1, spam = 10.

whereas

Expression is a combination of variables, operations and values that yields a result value.

Q6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [2]:
bacon = 22
bacon + 1

23

In [3]:
print(bacon)

22

Q7. What should the values of the following two terms be?

'spam' + 'spamspam' 
'spam' * 3

In [4]:
'spam' + 'spamspam'

'spamspamspam'

In [5]:
'spam' * 3

'spamspamspam'

Q8. Why is eggs a valid variable name while 100 is invalid?

Ans:- Because variable names cannot begin with a number.

Q9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

Ans:- The int(), float(), and str() functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

Q10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
Ans:- The expression causes an error because 99 is an integer, and only strings can be concatenated to other strings with the + operator. The correct way is I have eaten ' + str(99) + ' burritos.'